<%-include('templates/head')  %>
    <%-include('templates/header') %>
        <%- include('templates/navbar') %>
<div class="container">
    <h1>Colaboradores</h1>
</div>

<div class="container-fluid">
    <div class="container">
        <a class="btn btn-primary" href="/nuevoColaborador" role="button">Nuevo Colaborador</a>
    </div>
    <div class="container scroll-table">
        <table class="table table-hover overflow-scroll">
            <thead role="rowgroup">
                <tr role="row">
                    <th role="columnheader">Rut</throle>
                    <th role="columnheader">Nombre</th>
                    <th role="columnheader">Telefono</th>
                    <th role="columnheader">Numero de Cuenta</th>
                    <th role="columnheader">Tipo de Cuenta</th>
                    <th role="columnheader">Banco</th>
                </tr>
            </thead>
            <tbody role="rowgroup">
                <% colaboradores.forEach(function(colaborador) { %>
                    <tr role="row">
                        <td role="row">
                            <%= colaborador.Rut %>
                        </td>
                        <td role="row">
                            <%= colaborador.Nombre %>
                        </td>
                        <td role="row">
                            <%= colaborador.Telefono %>
                        </td>
                        <td role="row">
                            <%= colaborador.NumeroCuenta %>
                        </td>
                        <td role="row">
                            <%= colaborador.TipoCuenta %>
                        </td>
                        <td role="row">
                            <%= colaborador.Banco %>
                        </td>
                        <td>
                            <div class="container" id="botonesTabla">

                                <form action="/editarColaborador" method="POST" id="botonTabla">
                                    <a class="btn btn-primary" href="/editarColaborador">Editar</a>
                                </form>
                                <form action="/eliminarColaborador" method="POST" id="botonTabla">
                                    <input type="hidden" name="ColaboradoresId" value="<%= colaborador.ColaboradoresId %>">
                                    <button type="submit" class="btn btn-danger">Borrar</button>
                                </form>
                            </div>
                        </td>
                    </tr>
                    <% }); %>
            </tbody>
        </table>
    </div>

</div>
            <%- include('templates/footer') %>
</body>

</html>