<%-include('templates/head')  %>
    <%-include('templates/header') %>
        <%- include('templates/navbar') %>
        <div class="container">
            <h2>Registrar nuevo pago a colaborador</h2>
                <div class="container" id="formPagos">
                <form action="/pagoColaboradores" method="post">
                   
                    <label for="Nombre"class="form-label">Nombre</label>
                    <select class="form-select form-select-md mb-3" id="Nombre" name="nombre" aria-label="Medium select">
                    
                    <option selected name="Nombre" id="Nombre">Seleccione colaborador</option>
                        <% colaboradores.forEach(function(colaborador) { %>
                            <option selected><%= colaborador.Nombre %></option>
                            <% }) %>
                    </select>
                    
                    <label for="Rut"class="form-label">Rut</label>
                    <select class="form-select form-select-md mb-3" id="Rut" name="Rut" aria-label="Medium select">
                    
                    <option selected name="Rut" id="Rut">Rut</option>
                        <% colaboradores.forEach(function(colaborador) { %>
                            <option selected><%= colaborador.Rut %></option>
                            <% }) %>
                    </select>
                    
                    
                    <label for="startDate">Fecha</label>
                    <input id="startDate" class="form-control" type="date" name="Fecha">
                    <label for="CantidadPrendas"class="form-label">Cantidad de prendas</label>
                    <input class="form-control" placeholder="Ingrese Cantidad" type="text"  id="CantidadPrendas" name="CantidadPrendas" required>
                        
                    <label for="Monto"class="form-label">Monto total</label>
                    <input class="form-control" placeholder="Ingrese Monto a pagar" type="text" id="Monto" name="Monto" required>
                     
                    <div class="mb-3">

                        <button type="submit" class="btn btn-primary">Enviar</button>
                    </div>
                       
                    </form>
                </div>

<%- include('templates/footer') %>
</body>

</html>